/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  padding: 5px;
}

#part1 {
  background-image: url(./images/torshov.jpg);
  min-height: 400px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#part1-h1 {
  margin: 0;
  padding: 0;
  padding: 5px;
  font-size: 2rem;
  margin: 0 10px;
  color: white;
  background-color: hsl(207, 7%, 75%);
  border-radius: 5px;
  margin-bottom: 10px;
}
#part1-h2 {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  margin: 0 10px;
  max-width: 500px;
  color: white;
  background-color: hsl(207, 7%, 75%);
  border-radius: 10px;
}

#part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
  min-height: 350px;
  padding-bottom: 30px;
}

#part2 h3 {
  padding: 10px 5px;
  font-size: 1.1rem;
}

#part2 img {
  border-radius: 50%;
}

.reduce {
  margin-bottom: 20px;
  margin: 20px 20px 30px 20px;
  max-width: 300px;
}
.reduce img {
  width: 100px;
}

#part3 {
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: hsl(0, 5%, 92%); */
}
#part3-1 {
  margin: 30px 10px 20px 10px;
  min-height: 300px;

  display: flex;

  border-radius: 10px;
  padding: 20px;
  background-color: hsla(203, 78%, 68%, 0.836);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#part3-1 img {
  border-radius: 10px;
  width: 100px;
}

#part3-2 {
  max-width: 250px;
  padding: 10px;
}
